In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Load the dataset
matches = pd.read_csv('/content/IPL Matches 2008-2022.csv')

# Extract the relevant columns
matches = matches[['team1', 'team2', 'city', 'toss_winner', 'toss_decision', 'winner', 'eliminator', 'method']]

# Label encoding the categorical variables
label_encoder = LabelEncoder()
matches_encoded = pd.DataFrame()
matches_encoded['team1'] = label_encoder.fit_transform(matches['team1'])
matches_encoded['team2'] = label_encoder.fit_transform(matches['team2'])
matches_encoded['winner'] = label_encoder.fit_transform(matches['winner'])
matches_encoded['toss_winner'] = label_encoder.fit_transform(matches['toss_winner'])
matches_encoded['toss_decision'] = label_encoder.fit_transform(matches['toss_decision'])
matches_encoded['city'] = label_encoder.fit_transform(matches['city'])
matches_encoded['eliminator'] = label_encoder.fit_transform(matches['eliminator'])
matches_encoded['method'] = label_encoder.fit_transform(matches['method'])
winner_encoded = label_encoder.fit_transform(matches['winner'])
print(label_encoder.classes_)
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(matches_encoded.drop('winner', axis=1), 
                                                    matches_encoded['winner'], 
                                                    test_size=0.5 , 
                                                    random_state=30)
x_test = X_train
Y_test = y_train
# Train a random forest classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)


# Make predictions on the test set
y_pred = rf.predict(X_test)

team1 = 2   #toss winner
team2 = 0
toss = 2
toss_decision = 1
city = 0
method = 1
match_test = pd.DataFrame({'team1': pd.Series(np.array([team1])), 'team2': pd.Series(np.array([team2])), 'toss_winner': pd.Series(np.array([toss])), 'toss_decision': pd.Series(np.array([toss_decision])), 
                           'city': pd.Series(np.array([city])), 'eliminator': pd.Series(np.array([0])), 'method' : pd.Series(np.array([method]))})

y_proba = rf.predict_proba(match_test)

# Get the top 5 most probable outcomes for your input
top_5 = y_proba.argsort()[0][-5:]

# Get the top 5 most probable outcomes as predicted winners
predicted_winners = []
for outcome in top_5:
    predicted_winners.append(([outcome])[0])

# Print the top 3 most probable outcomes as predicted winners
print("Today's match winner is:-")
for winner in predicted_winners:
    if winner == team1 or winner == team2:
      print(label_encoder.inverse_transform([winner])[0])
      break

accuracy = rf.score(x_test, Y_test)
print('Accuracy:', accuracy)

['Chennai Super Kings' 'Delhi Capitals' 'Gujarat Titans'
 'Kolkata Knight Riders' 'Lucknow Supergiants' 'Mumbai Indians'
 'Punjab Kings' 'Rajasthan Royals' 'Royal Challengers Bangalore'
 'Sunrisers Hyderabad' nan]
Today's match winner is:-
Gujarat Titans
Accuracy: 0.8776978417266187

In [30]:
matches

,team1,team2,city,toss_winner,toss_decision,winner,eliminator,method
0,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,N,normal
1,Punjab Kings,Chennai Super Kings,Mohali,Chennai Super Kings,bat,Chennai Super Kings,N,normal
2,Delhi Capitals,Rajasthan Royals,Delhi,Rajasthan Royals,bat,Delhi Capitals,N,normal
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai,Mumbai Indians,bat,Royal Challengers Bangalore,N,normal
4,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata,Sunrisers Hyderabad,bat,Kolkata Knight Riders,N,normal
...,...,...,...,...,...,...,...,...
829,Sunrisers Hyderabad,Punjab Kings,NaN,Sunrisers Hyderabad,bat,Punjab Kings,N,normal
830,Gujarat Titans,Rajasthan Royals,NaN,Gujarat Titans,field,Gujarat Titans,Y,normal
831,Lucknow Supergiants,Royal Challengers Bangalore,NaN,Lucknow Supergiants,field,Royal Challengers Bangalore,Y,normal
832,Rajasthan Royals,Royal Challengers Bangalore,NaN,Rajasthan Royals,field,Rajasthan Royals,Y,normal
833,Gujarat Titans,Rajasthan Royals,NaN,Rajasthan Royals,bat,Gujarat Titans,Y,normal

In [ ]:
matches_encoded

,team1,team2,winner,toss_winner,toss_decision,city,eliminator,method
0,8,3,3,8,1,1,0,1
1,6,0,0,0,0,8,0,1
2,1,7,1,7,0,3,0,1
3,5,8,8,5,0,9,0,1
4,3,9,3,9,0,7,0,1
...,...,...,...,...,...,...,...,...
829,9,6,6,9,0,10,0,1
830,2,7,2,2,1,10,1,1
831,4,8,8,4,1,10,1,1
832,7,8,7,7,1,10,1,1
833,2,7,2,7,0,10,1,1

In [ ]:
# Import the required libraries needed to run my project
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Load the dataset

matches = pd.read_csv('/content/IPL Matches 2008-2022.csv')

In [ ]:
# Extract the relevant columns
matches = matches[['team1', 'team2', 'city', 'toss_winner', 'toss_decision', 'winner', 'eliminator', 'method']]
matches

,team1,team2,city,toss_winner,toss_decision,winner,eliminator,method
0,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,N,normal
1,Punjab Kings,Chennai Super Kings,Mohali,Chennai Super Kings,bat,Chennai Super Kings,N,normal
2,Delhi Capitals,Rajasthan Royals,Delhi,Rajasthan Royals,bat,Delhi Capitals,N,normal
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai,Mumbai Indians,bat,Royal Challengers Bangalore,N,normal
4,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata,Sunrisers Hyderabad,bat,Kolkata Knight Riders,N,normal
...,...,...,...,...,...,...,...,...
829,Sunrisers Hyderabad,Punjab Kings,NaN,Sunrisers Hyderabad,bat,Punjab Kings,N,normal
830,Gujarat Titans,Rajasthan Royals,NaN,Gujarat Titans,field,Gujarat Titans,Y,normal
831,Lucknow Supergiants,Royal Challengers Bangalore,NaN,Lucknow Supergiants,field,Royal Challengers Bangalore,Y,normal
832,Rajasthan Royals,Royal Challengers Bangalore,NaN,Rajasthan Royals,field,Rajasthan Royals,Y,normal
833,Gujarat Titans,Rajasthan Royals,NaN,Rajasthan Royals,bat,Gujarat Titans,Y,normal

In [ ]:
# Label encoding the categorical variables
label_encoder = LabelEncoder()
matches_encoded = pd.DataFrame()
matches_encoded['team1'] = label_encoder.fit_transform(matches['team1'])
matches_encoded['team2'] = label_encoder.fit_transform(matches['team2'])
matches_encoded['winner'] = label_encoder.fit_transform(matches['winner'])
matches_encoded['toss_winner'] = label_encoder.fit_transform(matches['toss_winner'])
matches_encoded['toss_decision'] = label_encoder.fit_transform(matches['toss_decision'])
matches_encoded['city'] = label_encoder.fit_transform(matches['city'])
matches_encoded['eliminator'] = label_encoder.fit_transform(matches['eliminator'])
matches_encoded['method'] = label_encoder.fit_transform(matches['method'])
winner_encoded = label_encoder.fit_transform(matches['winner'])
print(label_encoder.classes_)

['Chennai Super Kings' 'Delhi Capitals' 'Gujarat Titans'
 'Kolkata Knight Riders' 'Lucknow Supergiants' 'Mumbai Indians'
 'Punjab Kings' 'Rajasthan Royals' 'Royal Challengers Bangalore'
 'Sunrisers Hyderabad' nan]

In [ ]:
matches_encoded

,team1,team2,winner,toss_winner,toss_decision,city,eliminator,method
0,8,3,3,8,1,1,0,1
1,6,0,0,0,0,8,0,1
2,1,7,1,7,0,3,0,1
3,5,8,8,5,0,9,0,1
4,3,9,3,9,0,7,0,1
...,...,...,...,...,...,...,...,...
829,9,6,6,9,0,10,0,1
830,2,7,2,2,1,10,1,1
831,4,8,8,4,1,10,1,1
832,7,8,7,7,1,10,1,1
833,2,7,2,7,0,10,1,1

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(matches_encoded.drop('winner', axis=1), 
                                                    matches_encoded['winner'], 
                                                    test_size=0.5 , 
                                                    random_state=30)
x_test = X_train
Y_test = y_train

In [ ]:
# Train a random forest classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [ ]:
# Make predictions on the test set
y_pred = rf.predict(X_test)

team1 = 6
team2 = 3
toss = 3
venue = 8
toss_decision = 1
method = 1
match_test = pd.DataFrame({'team1': pd.Series(np.array([team1])), 'team2': pd.Series(np.array([team2])), 'toss_winner': pd.Series(np.array([toss])), 'toss_decision': pd.Series(np.array([toss_decision])), 'city': pd.Series(np.array([venue])), 'eliminator': pd.Series(np.array([0])), 'method' : pd.Series(np.array([method]))})
#match_pred = rf.predict(match_test)
#print('Predicted winner:', match_pred[0])

y_proba = rf.predict_proba(match_test)

In [ ]:
# Get the top 5 most probable outcomes for your input
top_5 = y_proba.argsort()[0][-5:]
top_5

array([ 8,  9, 10,  6,  3])

In [ ]:
# Get the top 3 most probable outcomes as predicted winners
predicted_winners_labels = []
for outcome in top_5:
    predicted_winners_labels.append(([outcome])[0])

predicted_winners_names = []
for outcome in top_5:
    predicted_winners_names.append(label_encoder.inverse_transform([outcome])[0])

d = dict()
for i in range(len(predicted_winners_labels)):
    d[predicted_winners_labels[i]] = predicted_winners_names[i]
# d = dict(sorted(d.items()))
for key,value in d.items():
	  print(key, ':', value)

8 : Royal Challengers Bangalore
9 : Sunrisers Hyderabad
10 : nan
6 : Punjab Kings
3 : Kolkata Knight Riders

In [ ]:
# Print the top 3 most probable outcomes as predicted winners
print("Predicted Winner:")
for winner in predicted_winners:
    if winner == team1 or winner == team2:
      print(label_encoder.inverse_transform([winner])[0])
      break

Predicted Winner:
Kolkata Knight Riders